{{card-table cards=cards decks=decks canAdd=true canDelete=false}}
<nav>
  <ul class="pagination">
    <li class="page-item"><button class="btn page-link" {{action "decrement"}}>Previous</button></li>
    <li class="page-item"><button class="btn page-link" {{action "increment"}}>Next</button></li>
  </ul>
</nav>
