<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Card
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each items as |card|}}
      <tr>
        <td>
          <img class="cardImage"src={{card.imageUrl}} height="185" width="132">
          <br/>
          <div class="cardData">
            {{card.name}}
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="page-item"><button class="btn page-link" {{action "decrement"}}>Previous</button></li>
    <li class="page-item"><button class="btn page-link" {{action "increment"}}>Next</button></li>
  </ul>
</nav>
