<form>
  <div class="form-group">
    <label for="card-search-text">Card Text</label>
    {{input type="text" value=cardName class="form-control" placeholder="Card Text" id="card-search-text" key-press=(action "updateCardName")}}
  </div>
</form>
