table {
  &.card-table {
    tr {
      padding: 100px;
    }
    td {
      position: relative;
      .cardImage {
        float: left;
        margin-right: 50px;
      }

      .cardData {
        position: relative;
      }

      .cardActions {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}
