<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-12 col-md-7">
    <h1>Card Search</h1>
    {{card-search-table}}
  </div>
  <div class="col-6 col-md-5 sidebar-offcanvas" id="sidebar">
    {{card-search-form}}
  </div>
</div>
